<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/skeleton.css' />
  <link rel='stylesheet' href='/stylesheets/normalize.css' />
  <script src="/javascripts/socket.io.js"></script>
  <script src="/javascripts/dateutil.js" type="module"></script>
</head>

<body>

  <div class="row">
    <div class="three columns sidebar">
      <div id="messagesContainer">

      </div>
      <input type="text" id="message" placeholder="Say Something !">
    </div>
    <div class="nine columns tmain">

      <h1 class="header">Time to Impact (ESTIMATED)</h1>


      <div class="full">
        <div id="bar" class="bar"></div>
      </div>

      <h2 id="watch"></h2>

    </div>
  </div>


</body>

<script>

  var messages =  <%- messages %>;
  // messages = messages.map(m => m.message)
  console.log(messages.length);

  var socket = io();

  var send = (message) => socket.emit('message', `${message}`);


  var textbox = document.querySelector('#message');
  var messagesContainer = document.querySelector('#messagesContainer');


  textbox.onkeypress = function (event) {
    switch (event.key) {
      case "Enter":
        send(event.target.value);
        textbox.value = "";
        break;
    }
  }


  socket.on('message', function (message) {
    console.log(message);
    messages.push(message);
    populateSidebar(messages);
  })

  socket.on('reload', function(data){
    location.reload();
  })

  const populateSidebar = (messages) => {

    const msgs = messages.map(m => `<li title="${m.remote_address}" class="chat_message">${m.message}</li>`).join("")

    messagesContainer.innerHTML = msgs;
  }


  populateSidebar(messages);

</script>

</html>