body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-shadow: -2px 1px 8px white;
}

a {
  color: #00B7FF;
}

.full {
  border: 1px solid #ffffff;
  box-shadow: 4px 0px 20px 5px #ffffff54;
  background: white;
}

.bar {
  width: 30%;
  height: 50px;

  background: -webkit-linear-gradient( left,
  #0193CD 30%,
  #66D4E5 80%,
  #0193CD 100%) repeat;

  -webkit-background-size: 50% 100%;
  -webkit-animation-name: moving-gradient;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}


@-webkit-keyframes moving-gradient {
  0% {
    background-position: left bottom;
  }
  100% {
    background-position: right bottom;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.header{
  text-align: center;
  font-size: 2rem;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
}

#watch{
  text-align: right;
  font-size: 4rem;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.tcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px;
}

.sidebar{
  height: calc(100vh - 100px);
  flex: 1;
}

.tmain{
  margin-top: calc(100vh - 50% )
}

.chat-input{
  width: 100%;
  margin-top: calc(100vh - 120px );
}

input#message{
  width:100%;
  text-align: center;
  margin: 10px;
}

#messagesContainer{
  overflow: auto;
  height: calc(100vh - 120px );
  position: absolute;
  width: 22%;
  word-wrap: break-word;
}

.message_content{
  list-style: none;
  background: #ffb347;
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);
  background: linear-gradient(to right, #ffcc33, #ffb347);
  padding: 10px;
  font-size: 1.7rem;
  border-radius: 10px;
}

.message_author{
  display: inline;
}

.message_time{
  /* display: inline; */
  float: right;
  font-family: Perpetua,Baskerville,"Big Caslon","Palatino Linotype",Palatino,"URW Palladio L","Nimbus Roman No9 L",serif;
}


.profile-bar{
  position: absolute;
  margin-top: -35px;
  width: inherit;
  text-align: center;
}
input#name{
  margin-top: -13px;
  width: 100%;
  text-align: center;
  display: none;
}